/*

スライダー
- slick.js : https://kenwheeler.github.io/slick/

*/

.mmm-slider{
    position:relative;
}

.mmm-slider__img{
}

.mmm-slider__btn{
  position:absolute;
  top:0;
  z-index:9999;
  width:50px;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

.mmm-slider__btn--prev{
  left:0;
}

.mmm-slider__btn--next{
  right:0;
}

.mmm-slider__arrow{
  flex:none;
  display:block;
  width:30px;
  height:30px;
  border-top:2px solid lightgray;
  border-right:2px solid lightgray;
}

.mmm-slider__arrow--prev{
  transform:rotate(-135deg);
}

.mmm-slider__arrow--next{
  transform:rotate(45deg);
}

@media screen and (max-width:768px){
  .mmm-slider__arrow{
    display:none !important;
  }
}
